*{
    margin:0;
    padding:0;
}
body{
    background-color:#eeeeee;
}
.container{
    width:960px;
    height:450px;
    margin:60px auto;
    position:relative;
}
.pic{
    width:160px;
}
.container img{
    padding:10px 10px 15px;
    background-color:white;
    border:1px solid #ddd;
    box-shadow:2px 2px 3px rgba(50,50,50,0.4);
    position:absolute;
    #position:relative;
}
.pic1{
    left:100px;
    top:0px;
}
.pic2{
    left:300px;
    top:0px;
}
.pic3{
    left:500px;
    top:0px;
}
.pic4{
    left:700px;
    top:0px;
}
.pic5{
    left:100px;
    top:200px;
}
.pic6{
    left:300px;
    top:200px;
}
.pic7{
    left:500px;
    top:200px;
}
.pic8{
    left:700px;
    top:200px;
}
.pic9{
    left:100px;
    bottom:0px;
}
